/*

You can set up a global style here that is commonly used in each stanza.

Example:

h1 {
  font-size: 24px;
}

*/
main {
  padding: 1rem 2rem;
}

.sub-title {
  width: 12%;
}

.table-information {
  width: 100%;
  overflow-wrap: anywhere;
}

.table-egg {
  width: 100%;
  overflow-wrap: anywhere;
}

.table-larva {
  table-layout: fixed;
  width: 100%;
  overflow-wrap: anywhere;
}

.table-pupa {
  width: 100%;
  overflow-wrap: anywhere;
}

.table-adult {
  width: 100%;
  overflow-wrap: anywhere;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 60px;
  background: url("silkworm-details-search/assets/ajax-loader.gif") center center no-repeat;
}